<div class="top_footer">
  <div class="c_container">
    <ul>
      <li><a href="#">이용약관</a></li>
      <li><a href="../pages/member/privacy.html">개인정보취급방침</a></li>
      <li><a href="../pages/etc/email.html">이메일무단수집거부</a></li>
      <li><a href="../pages/member/joinguide.html">회원가입안내</a></li>
    </ul>
  </div>
</div>
<div class="bottom_footer">
  <div class="c_container">
    <div class="left">
      <img src="../img/foot-logo.png" alt="로고">
    </div>
    <div class="right">
      <p>상호 : (사) 대한환경공학회&nbsp;&nbsp;&nbsp;사업자등록번호 : 229-82-01440&nbsp;&nbsp;&nbsp;대표자 : 장암</p>
      <p>주소 : 서울 중구 청파로 464 브라운스톤서울 101동 726호</p>
      <p>TEL : 사무국 02.383.9652&nbsp;&nbsp;&nbsp;국문편집국,회원관리 02.383.9653&nbsp;&nbsp;&nbsp;영문편집국,홍보 02.383.9697</p>
      <p>FAX : 02.383.9654&nbsp;&nbsp;&nbsp;EMAIL : kosenv@kosenv.co.kr&nbsp;&nbsp;&nbsp;개인정보관리책임자 : 대한환경공학회 사무국 이영은</p>
      <p class="bottom_txt">Copyrightsⓒ KSEE 2022 All rights reserved.</p>
    </div>
    <a href="#main" class="top_btn">
      <div class="img_box">
        <img src="../img/top-arrow.png" alt="위로가기">
      </div>
      <span>TOP</span>
    </a>
  </div>
</div>