<div class="c_container pc_header">
  <div class="top_nav">
    <ul>
      <li><a href="../pages/member/login.html">로그인</a></li>
      <li><a href="#">입회안내</a></li>
      <li><a href="#">ENGLISH</a></li>
      <li>
        <a href="#">EER<span>영문저널</span></a>
      </li>
    </ul>
  </div>
  <nav class="gnb">
    <a href="/" class="logo">
      <img src="/img/logo.png" alt="" />
    </a>
    <ul class="gnb_right">
      <li>
        <a href="#" class="navi">학회안내</a>
        <ul class="sub_nav">
          <li><a href="../pages/introduce/greeting.html">학회장 인사</a></li>
          <li><a href="../pages/introduce/introduceksee.html">학회소개</a></li>
          <li><a href="../pages/introduce/history.html">연혁</a></li>
          <li><a href="../pages/introduce/kseemember.html">임원진</a></li>
          <li><a href="../pages/introduce/regulation.html">정관/규정</a></li>
          <li><a href="../pages/introduce/office.html">사무국</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="navi">학회지</a>
        <ul class="sub_nav">
          <li>
            <a href="../pages/journal/kor_introduce.html">국문지</a>
          </li>
          <li><a href="#">영문지</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="navi">회원관련</a>
        <ul class="sub_nav">
          <li><a href="../pages/member/joinguide.html">회원가입안내</a></li>
          <li><a href="../pages/member/join.html">회원가입/정보수정</a></li>
          <li><a href="../pages/member/privacy.html">개인정보취급방침</a></li>
          <li><a href="../pages/member/feelist.html">회비납부내역</a></li>
          <li><a href="../pages/member/changepw.html">비밀번호변경</a></li>
          <li><a href="../pages/member/outmember.html">회원탈퇴</a></li>
          <li><a href="../pages/member/login.html">로그인</a></li>
          <li><a href="../pages/member/findidpw.html">아이디/비밀번호찾기</a></li>
          <li><a href="#">회원동정</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="navi">저널검색</a>
        <ul class="sub_nav">
          <li><a href="../pages/journalsearch/totalsearch.html">통합검색</a></li>
          <li><a href="../pages/journalsearch/detailsearch.html">상세검색</a></li>
          <li>
            <a href="../pages/journalsearch/journallist.html">문헌리스트</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="navi">학회소식</a>
        <ul class="sub_nav">
          <li><a href="../pages/bbs/bbslist.html">학회소식&#183;공지사항</a></li>
          <li><a href="#">환경관련 행사소식</a></li>
          <li><a href="../pages/bbs/bbslist2.html">연간일정</a></li>
          <li><a href="#">학술대회</a></li>
          <li><a href="#">e뉴스레터</a></li>
          <li><a href="#">WeWe</a></li>
          <li><a href="../pages/bbs/bbslist3.html">포토갤러리</a></li>
        </ul>
      </li>
      <li>
        <ul class="icons">
          <li class="search">
            <a href="#"><img src="../img/search-icon.png" alt="검색하기" /></a>
            <div class="search_input">
              <input type="text" />
              <div class="img_box">
                <img src="../img/search-icon.png" alt="" />
              </div>
            </div>
          </li>
          <li class="ham_btn">
            <a href="../pages/etc/sitemap.html">
              <p></p>
              <p></p>
              <p></p>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
<div class="mo_header">
  <div class="c_container">
    <div class="logo">
      <a href="/"> </a>
    </div>
    <div class="mo_right">
      <div class="mo_search">
        <a href="#">
          <img src="../img/search-icon.png" alt="검색" />
        </a>
        <div class="search_input">
          <input type="text" />
          <div class="img_box">
            <img src="../img/search-icon.png" alt="" />
          </div>
        </div>
      </div>
      <a href="#" class="moham_btn">
        <p></p>
        <p></p>
        <p></p>
      </a>
    </div>
  </div>
</div>
<div class="mo_nav_back">
  <div class="mo_nav">
    <div class="top">
      <div class="left">
        <a href="../pages/member/login.html">로그인 하세요.</a>
        <div class="img_box lock">
          <img src="../img/lock-icon.png" alt="" />
        </div>
      </div>
      <div class="right">
        <div class="close_btn">
          <img src="../img/close-btn.png" alt="" />
        </div>
      </div>
    </div>
    <div class="mid">
      <ul class="mo_top_nav">
        <li><a href="../pages/member/joinguide.html">입회안내</a></li>
        <li><a href="#">ENGLISH</a></li>
        <li>
          <a href="#">EER<span>영문저널</span></a>
        </li>
      </ul>
    </div>
    <div class="mo_gnb">
      <li>
        <a href="#" class="navi">
          <p>학회안내</p>
          <p class="plus">
            <span></span>
            <span></span>
          </p>
        </a>
        <ul class="mo_sub_nav">
          <li><a href="../pages/introduce/greeting.html">학회장 인사</a></li>
          <li><a href="../pages/introduce/introduceksee.html">학회소개</a></li>
          <li><a href="../pages/introduce/history.html">연혁</a></li>
          <li><a href="../pages/introduce/kseemember.html">임원진</a></li>
          <li><a href="../pages/introduce/regulation.html">정관/규정</a></li>
          <li><a href="../pages/introduce/office.html">사무국</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="navi">
          <p>학회지</p>
          <p class="plus">
            <span></span>
            <span></span>
          </p>
        </a>
        <ul class="mo_sub_nav">
          <li>
            <a href="../pages/journal/kor_introduce.html">국문지</a>
          </li>
          <li><a href="#">영문지</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="navi">
          <p>회원관련</p>
          <p class="plus">
            <span></span>
            <span></span>
          </p>
        </a>
        <ul class="mo_sub_nav">
          <li><a href="../pages/member/joinguide.html">회원가입안내</a></li>
          <li><a href="../pages/member/join.html">회원가입/정보수정</a></li>
          <li><a href="../pages/member/privacy.html">개인정보취급방침</a></li>
          <li><a href="../pages/member/feelist.html">회비납부내역</a></li>
          <li><a href="../pages/member/changepw.html">비밀번호변경</a></li>
          <li><a href="../pages/member/outmember.html">회원탈퇴</a></li>
          <li><a href="../pages/member/login.html">로그인</a></li>
          <li><a href="../pages/member/findidpw.html">아이디/비밀번호찾기</a></li>
          <li><a href="#">회원동정</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="navi">
          <p>저널검색</p>
          <p class="plus">
            <span></span>
            <span></span>
          </p>
        </a>
        <ul class="mo_sub_nav">
          <li><a href="../pages/journalsearch/totalsearch.html">통합검색</a></li>
          <li><a href="../pages/journalsearch/detailsearch.html">상세검색</a></li>
          <li>
            <a href="../pages/journalsearch/journallist.html">문헌리스트</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="navi">
          <p>학회소식</p>
          <p class="plus">
            <span></span>
            <span></span>
          </p>
        </a>
        <ul class="mo_sub_nav">
          <li><a href="../pages/bbs/bbslist.html">학회소식&#183;공지사항</a></li>
          <li><a href="#">환경관련 행사소식</a></li>
          <li><a href="../pages/bbs/bbslist2.html">연간일정</a></li>
          <li><a href="#">학술대회</a></li>
          <li><a href="#">e뉴스레터</a></li>
          <li><a href="#">WeWe</a></li>
          <li><a href="../pages/bbs/bbslist3.html">포토갤러리</a></li>
        </ul>
      </li>
    </div>
  </div>
</div>
